*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 40px;
    color: crimson;

}
p{
    text-align: center;
    padding: 10px 15px;
    color: dodgerblue;

}

